<html>
<head>
    
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Product Details</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous"><!-- fontawesom cdn link -->
    <link href="https://bootstrap-ecommerce.com/bootstrap-ecommerce-html/images/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <!-- font --> 
    
</head>

<body>

    

<div class="container mt-5 mb-5" id="productPage">
    <div class="row">
        <div class="col-md-5">
        <div class="card">
           <img src="https://bootstrap-ecommerce.com/bootstrap-ecommerce-html/images/items/1.jpg" class="figure-img img-fluid rounded">
          
        </div>
        </div>

        <div class="col-md-7">
        <h5>Adidas Cool T-Shirt</h5>
        <p class="text-muted">T-SHIRTS</p>
        
          <h5 class="pt-4">$179.00</h5>
          <h5 class="pt-4">Product Description</h5>
          
          <p class="description text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
         <hr>
          <table class="table mt-2">
           
            <tbody>
              <tr>
                <th scope="row">Product name</th>
                <td>T-SHIRT IE-106</td>
              </tr>
              <tr>
                <th scope="row">Category</th>
                <td>Clothing</td>
              </tr>

              <tr>
                <th scope="row">Rating</th>
                <td>4</td>
              </tr>
            </tbody>
          </table>
          <hr>
          
          <div class="row">
            <div class="col-md-7">
             <div class="input-group">
                      <div class="input-group-prepend" onclick="add1()">
                        <span class="input-group-text"><i class="fas fa-plus"></i></span>
                      </div>
          
                      <input type="text" class="numberbox1 form-control" value="0">
                      <div class="input-group-append" onclick="subtract1()">
                          <span class="input-group-text"><i class="fas fa-minus"></i></span>
                      </div>
                    </div>
            </div>
          

            
          </div>
          <div id="purchase-btn">
         
          <button type="button" class="btn btn-sm btn-light"><a class="text-black" href=""> <i class="fas fa-shopping-cart pr-2"></i>  Add to Cart </a> </button>
        </div>
        </div>  
        </div>
        </div>
        <br><br>
        <hr>
        <br>

        <h4 class="text-center text-muted">Browse products</h4>
        <br><br>
        <div class="row">
          <div class="col-md-3">
              <div class="card">
                  <img class="card-img-top img-fluid" src="https://bootstrap-ecommerce.com/bootstrap-ecommerce-html/images/items/1.jpg" alt="Card image cap">
                  <div class="card-body">
                      <p class="card-text"><a href="inner-productpage.html" class="text-dark">Just another item name</a></p>
  
                      
                      <p class="card-cost">$179.00</p>
                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="card">
                  <img class="card-img-top img-fluid" src="https://bootstrap-ecommerce.com/bootstrap-ecommerce-html/images/items/2.jpg" alt="Card image cap">
                  <div class="card-body">
                      <p class="card-text"><a href="inner-productpage.html" class="text-dark">Some item name here</a></p>
                     
                      <p class="card-cost">$280.00</p>
                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="card">
                  <img class="card-img-top img-fluid" src="https://bootstrap-ecommerce.com/bootstrap-ecommerce-html/images/items/3.jpg" alt="Card image cap">
                  <div class="card-body">
                      <p class="card-text"><a href="inner-productpage.html" class="text-dark">Great item name here</a></p>
                    
                      <p class="card-cost">$56.00</p>
                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="card">
                  <img class="card-img-top img-fluid" src="https://bootstrap-ecommerce.com/bootstrap-ecommerce-html/images/items/4.jpg" alt="Card image cap">
                  <div class="card-body">
                      <p class="card-text"><a href="inner-productpage.html" class="text-dark">Just another item name</a></p>
                   
                      <p class="card-cost">$179.00</p>
                  </div>
              </div>
          </div>
      </div>
        <br>
        <br>
        <br>
      </div>
  </div>
  </div>
  <footer>
    

</body>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="js/script.js"></script>
</html>